@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Classroom.Models.Class

@using Classroom.Models
<!DOCTYPE html>

@{
    User us = (User)Session["User"];

    if (us != null)
    {
        if (us.Type.Equals("Student"))
        {
            Response.Redirect("/ClassRoom/Classes");
        }
    }
    else
    {
        Response.Redirect("/Classroom/Index");
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submission</title>
</head>
<body class="body">

    <div class="container">

        <div class="box">

            <form action="/Teacher/UploadTeacherData" method="post" enctype="multipart/form-data">
                <div class="search-text">

                    <label>FILE NAME</label>
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        <input type="text" name="Name" class="form-control" style="width:400px" placeholder="Class Name" />
                    </div>
                    <br />

                    <input type="hidden" name="Class_Id" value="@Model.Id" />

                    <div class="icons">
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-arrow-up"></i>
                            <input type="file" name="Path" class="form-control" style="width:400px" />

                        </div>
                    </div>
                    <br />

                    <input type="hidden" name="Class_id" value="@Model.Id" />

                    <button type="submit" class="btn btn-warning">UPLOAD</button>

                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="login" value="login">

                    </div>
                </div>
            </form>
        </div>
    </div>
    <nav class="nav navbar-inverse" role="navigation">
        <div class="nav navbar-fixed-bottom pull-right">

            <a class="navbar-brand " href="/Classroom/Classes">BACK</a>

        </div>
    </nav>
</body>
</html>
