@{
    ViewBag.Title = "Add Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Classroom.Models.User

@using Classroom.Models

<!DOCTYPE html>

@{
    User us = (User)Session["User"];

    if (us != null)
    {
        if (us.Type.Equals("Teacher"))
        {
            Response.Redirect("/ClassRoom/Classes");
        }
    }
    else
    {
        Response.Redirect("/Classroom/Index");
    }

    String Error = (String)ViewBag.error;
}

@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create Class</title>
    </head>
    <body class="body">*@


<div style="font-family:'Comic Sans MS'; padding-left:450px;color:white; font-size:80px; padding-top:30px">ADD Class</div>
<div class="container">

    <div class="box" style="padding-top:80px">

        <form role="form" action="/ClassRoom/AddNewClass" method="post">
            <div class="search-text">

                <input type="hidden" name="StudentId" value="@Model.Id" />

                <label>Class Name</label>
                <div class="icons">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-user"></i>
                        <input required type="text" id="Name" name="Name" class="form-control" style="width:400px" placeholder="Class Name" />

                    </div>
                </div>

                <br />
                <label>Class Code</label>
                <div class="icons">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input required type="text" name="ClassCode" class="form-control" style="width:400px" placeholder="Class Code" />
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-warning">ADD CLASS</button>

                @{
                    if (Error != null)
                    {
                        <br />
                        <i class="glyphicon glyphicon-warning-sign"></i>
                        <label>@Error</label>
                    }
                }

                <div class="clearfix"></div>
                <div class="form-group col-lg-12">
                    <input type="hidden" name="login" value="login">

                </div>
            </div>
        </form>
    </div>
</div>
<nav class="nav navbar-inverse" role="navigation">
    <div class="nav navbar-fixed-bottom pull-right">
        <div id="d1"></div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand " href="/Classroom/Classes">BACK</a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" action="/Classro/SearchClass" method="post">
                <div class="form-group">

                    <input required type="text" id="Class" name="Class" class="form-control" style="width:300px; margin-left:370px" placeholder="Enter Course Name or ID" />

                </div>

                <button type="button" id="b1" class="btn btn-success " onclick="search()" style="margin:10px"><i class="glyphicon glyphicon-search"></i></button>


            </form>
        </div>
    </div>
</nav>
@*</body>
    </html>*@

<script>

    function search() {
        var value = $('#Class').val();



        $('#d1').load('/Classroom/SearchClass?Class=' + value);
    }


</script>