@{
    ViewBag.Title = "Classroom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />



        <title>Class Room</title>
    </head>
    <body class="body">*@

<div id="hero intro-classroom" align="center">
    <div id="classroom" style="height: 300px; ">
        <img alt="" class="product-icon" data-retina="105x88" src="images/classroom-logo-hero.png">
        <h1>
            WELCOME TO CLASSROOM
        </h1>
        <div class="classroom-subheadline">
            <p>
                <h4>
                    was designed hand-in-hand with Google Apps for Education teachers to help
                    them save time, keep classes organized, and improve communication with students.
                </h4>
            </p>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <form action="Classroom/LogIn" method="post">
                <button type="submit" class="btn btn-success" style="color:green">GO TO CLASSROOM</button>
            </form>
        </div>

    </div>
</div>
<div>

</div>
@*</body>
    </html>*@
